@use "../../sass/abstract/index" as *;

.header {
  border: 3px solid color(header-outline);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  max-width: 700px;
  margin: auto;
}

.header img {
  width: 110px;
  padding: 0.5rem 0.7rem;
  margin-top: 5px;
}

.bonus img {
  width: 80px;
}

@media (min-width: 600px) {
  .header {
    padding: 1rem 1.5rem;

    img {
      width: 180px;
      margin-top: 0;
      padding-left: 0.3rem;
    }
  }

  .bonus img {
    width: 120px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
  }
}
